# Yes, I've copied windows SQLite inside the project. Don't do that!
sqlite3.exe

# Avoid syncing any SQLite database. You need one for your application
# but create it from "flat_file_database.csv". Check instruction within.
*.sqlite

# No love for pycache
**/__pycache__

# Avoid syncing generated images
folder_generated_images/*

# Exclude Python virtualenv from being committed
# Yeah, I virtualenv from this directory
.venv/